[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=MeeTeleGram
Name[fa]=می‌تلگرام
Exec=/usr/bin/invoker --single-instance --splash=/opt/MeeTeleGram/splash.jpeg --splash-landscape=/opt/MeeTeleGram/splash-l.jpeg --type=d /opt/MeeTeleGram/bin/MeeTeleGram
Icon=/opt/MeeTeleGram/icons/MeeTeleGram.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
