Source: meetelegram
Section: user/Other
Priority: extra
Maintainer: Hedayat Vatankhah <hedayat.fwd@gmail.com>
Build-Depends: debhelper (>= 7), dpatch
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>

Package: meetelegram
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: Unofficial N9 Telegram Client
 This is an unofficial Telegram client for MeeGo Harmattan (N9) which
 aims to become a full featured client.
XB-Description-fa_FA: کلاینت غیررسمی تلگرام برای N9
 این برنامه یک کلاینت غیررسمی تلگرام برای گوشی N9 است که
 در نظر دارد به یک کلاینت با امکانات کامل تبدیل شود.
XSBC-Maemo-Display-Name: MeeTeleGram
XSBC-Maemo-Display-Name-fa_FA: می‌تلگرام
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAACjBpQ0NQ
 SUNDIHByb2ZpbGUAAEiJnZZ3VFTXFofPvXd6oc0wFClD770NIL03qdJEYZgZYCgDDjM0sSGiAhFF
 RAQVQYIiBoyGIrEiioWAYMEekCCgxGAUUVF5M7JWdOXlvZeX3x9nfWufvfc9Z+991roAkLz9ubx0
 WAqANJ6AH+LlSo+MiqZj+wEM8AADzABgsjIzAkI9w4BIPh5u9EyRE/giCIA3d8QrADeNvIPodPD/
 SZqVwReI0gSJ2ILNyWSJuFDEqdmCDLF9RsTU+BQxwygx80UHFLG8mBMX2fCzzyI7i5mdxmOLWHzm
 DHYaW8w9It6aJeSIGPEXcVEWl5Mt4lsi1kwVpnFF/FYcm8ZhZgKAIontAg4rScSmIibxw0LcRLwU
 ABwp8SuO/4oFnByB+FJu6Rm5fG5ikoCuy9Kjm9naMujenOxUjkBgFMRkpTD5bLpbeloGk5cLwOKd
 P0tGXFu6qMjWZrbW1kbmxmZfFeq/bv5NiXu7SK+CP/cMovV9sf2VX3o9AIxZUW12fLHF7wWgYzMA
 8ve/2DQPAiAp6lv7wFf3oYnnJUkgyLAzMcnOzjbmcljG4oL+of/p8Df01feMxen+KA/dnZPAFKYK
 6OK6sdJT04V8emYGk8WhG/15iP9x4F+fwzCEk8Dhc3iiiHDRlHF5iaJ289hcATedR+fy/lMT/2HY
 n7Q41yJRGj4BaqwxkBqgAuTXPoCiEAESc0C0A/3RN398OBC/vAjVicW5/yzo37PCZeIlk5v4Oc4t
 JIzOEvKzFvfEzxKgAQFIAipQACpAA+gCI2AObIA9cAYewBcEgjAQBVYBFkgCaYAPskE+2AiKQAnY
 AXaDalALGkATaAEnQAc4DS6Ay+A6uAFugwdgBIyD52AGvAHzEARhITJEgRQgVUgLMoDMIQbkCHlA
 /lAIFAXFQYkQDxJC+dAmqAQqh6qhOqgJ+h46BV2ArkKD0D1oFJqCfofewwhMgqmwMqwNm8AM2AX2
 g8PglXAivBrOgwvh7XAVXA8fg9vhC/B1+DY8Aj+HZxGAEBEaooYYIQzEDQlEopEEhI+sQ4qRSqQe
 aUG6kF7kJjKCTCPvUBgUBUVHGaHsUd6o5SgWajVqHaoUVY06gmpH9aBuokZRM6hPaDJaCW2AtkP7
 oCPRiehsdBG6Et2IbkNfQt9Gj6PfYDAYGkYHY4PxxkRhkjFrMKWY/ZhWzHnMIGYMM4vFYhWwBlgH
 bCCWiRVgi7B7scew57BD2HHsWxwRp4ozx3nionE8XAGuEncUdxY3hJvAzeOl8Fp4O3wgno3PxZfh
 G/Bd+AH8OH6eIE3QITgQwgjJhI2EKkIL4RLhIeEVkUhUJ9oSg4lc4gZiFfE48QpxlPiOJEPSJ7mR
 YkhC0nbSYdJ50j3SKzKZrE12JkeTBeTt5CbyRfJj8lsJioSxhI8EW2K9RI1Eu8SQxAtJvKSWpIvk
 Ksk8yUrJk5IDktNSeCltKTcpptQ6qRqpU1LDUrPSFGkz6UDpNOlS6aPSV6UnZbAy2jIeMmyZQplD
 MhdlxigIRYPiRmFRNlEaKJco41QMVYfqQ02mllC/o/ZTZ2RlZC1lw2VzZGtkz8iO0BCaNs2Hlkor
 o52g3aG9l1OWc5HjyG2Ta5EbkpuTXyLvLM+RL5Zvlb8t/16BruChkKKwU6FD4ZEiSlFfMVgxW/GA
 4iXF6SXUJfZLWEuKl5xYcl8JVtJXClFao3RIqU9pVllF2Us5Q3mv8kXlaRWairNKskqFylmVKVWK
 qqMqV7VC9ZzqM7os3YWeSq+i99Bn1JTUvNWEanVq/Wrz6jrqy9UL1FvVH2kQNBgaCRoVGt0aM5qq
 mgGa+ZrNmve18FoMrSStPVq9WnPaOtoR2lu0O7QndeR1fHTydJp1HuqSdZ10V+vW697Sw+gx9FL0
 9uvd0If1rfST9Gv0BwxgA2sDrsF+g0FDtKGtIc+w3nDYiGTkYpRl1Gw0akwz9jcuMO4wfmGiaRJt
 stOk1+STqZVpqmmD6QMzGTNfswKzLrPfzfXNWeY15rcsyBaeFustOi1eWhpYciwPWN61olgFWG2x
 6rb6aG1jzbdusZ6y0bSJs9lnM8ygMoIYpYwrtmhbV9v1tqdt39lZ2wnsTtj9Zm9kn2J/1H5yqc5S
 ztKGpWMO6g5MhzqHEUe6Y5zjQccRJzUnplO90xNnDWe2c6PzhIueS7LLMZcXrqaufNc21zk3O7e1
 bufdEXcv92L3fg8Zj+Ue1R6PPdU9Ez2bPWe8rLzWeJ33Rnv7ee/0HvZR9mH5NPnM+Nr4rvXt8SP5
 hfpV+z3x1/fn+3cFwAG+AbsCHi7TWsZb1hEIAn0CdwU+CtIJWh30YzAmOCi4JvhpiFlIfkhvKCU0
 NvRo6Jsw17CysAfLdZcLl3eHS4bHhDeFz0W4R5RHjESaRK6NvB6lGMWN6ozGRodHN0bPrvBYsXvF
 eIxVTFHMnZU6K3NWXl2luCp11ZlYyVhm7Mk4dFxE3NG4D8xAZj1zNt4nfl/8DMuNtYf1nO3MrmBP
 cRw45ZyJBIeE8oTJRIfEXYlTSU5JlUnTXDduNfdlsndybfJcSmDK4ZSF1IjU1jRcWlzaKZ4ML4XX
 k66SnpM+mGGQUZQxstpu9e7VM3w/fmMmlLkys1NAFf1M9Ql1hZuFo1mOWTVZb7PDs0/mSOfwcvpy
 9XO35U7keeZ9uwa1hrWmO18tf2P+6FqXtXXroHXx67rXa6wvXD++wWvDkY2EjSkbfyowLSgveL0p
 YlNXoXLhhsKxzV6bm4skivhFw1vst9RuRW3lbu3fZrFt77ZPxeziayWmJZUlH0pZpde+Mfum6puF
 7Qnb+8usyw7swOzg7biz02nnkXLp8rzysV0Bu9or6BXFFa93x+6+WmlZWbuHsEe4Z6TKv6pzr+be
 HXs/VCdV365xrWndp7Rv2765/ez9QwecD7TUKteW1L4/yD14t86rrr1eu77yEOZQ1qGnDeENvd8y
 vm1qVGwsafx4mHd45EjIkZ4mm6amo0pHy5rhZmHz1LGYYze+c/+us8Wopa6V1lpyHBwXHn/2fdz3
 d074neg+yTjZ8oPWD/vaKG3F7VB7bvtMR1LHSGdU5+Ap31PdXfZdbT8a/3j4tNrpmjOyZ8rOEs4W
 nl04l3du9nzG+ekLiRfGumO7H1yMvHirJ7in/5LfpSuXPS9f7HXpPXfF4crpq3ZXT11jXOu4bn29
 vc+qr+0nq5/a+q372wdsBjpv2N7oGlw6eHbIaejCTfebl2/53Lp+e9ntwTvL79wdjhkeucu+O3kv
 9d7L+1n35x9seIh+WPxI6lHlY6XH9T/r/dw6Yj1yZtR9tO9J6JMHY6yx579k/vJhvPAp+WnlhOpE
 06T55Okpz6kbz1Y8G3+e8Xx+uuhX6V/3vdB98cNvzr/1zUTOjL/kv1z4vfSVwqvDry1fd88GzT5+
 k/Zmfq74rcLbI+8Y73rfR7yfmM/+gP1Q9VHvY9cnv08PF9IWFv4FA5jz/BQ3RTsAAAAgY0hSTQAA
 eiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZiS0dEAP8A/wD/oL2nkwAAAAlw
 SFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB98KEA0YHKvXHCEAAA4pSURBVHja5ZtrcF3Vdcd/a59z
 n9K1JcsvWfIDjINtQLbBUINLoIESYmDauCV9JGk77tCEfmH6mHxrO53MtNNp+8EfWvKYepoppSWE
 CYUYQxpCGDA4xERGNja28QPbsiVZliXdh+695+y9+uGe+5AtwJaEsd09s+feOffcc/b677X+67H3
 hv/nTabjIV9/4y4RkaQgcRGTdLi1Tm2XqnYqugaIAyuAdPU/qgpobRgi44ZSAPYBZUG6ReSEEa/H
 YHaquqKiZVUtfuuOV/VTBeDrb94138NfDawsu9L6siuushouDTWg7IqUbYmSG0NVo09XER6l7MrY
 aPieQNzEkWg4IoaESSEiJEyKuJcgbpL4EsMT/1DcJN+Jm8R2YK8l3PWt21/tu6QA/Mmbd3Z5+I86
 teuywdkV2XA4UQizBK5M2ZWwzqLVh8uFv1Q/5GL1WZ7xiJsEMRMn7WfI+C2lTKx1nxFvhyV8/Du3
 v9bziQLwyPb1CwXZ7HAPDJZOxQaLJyXUABfN7KVuRgy+xJidXKCzE+2BwWxV9LHvrt9+fFoB+ONX
 1ycQfdhhvz1cGkyfKBzCKRi5PIisOpbO9FJaErMLBu9rqDz9b3dtL00ZgD96ed0CMeab+XBk06nC
 B+TCHEamiT2nsWkERLPfTHt6MU3+zC3q3F/9+z07Tk4agD/8yW0dnok9PzB2Ys3A2AlCZ5HLTfJz
 gVDwjcfcVCdzU53d1gUPfe/et3ovGoCv/vi2BZ74P+rNHV5zptTHldjaEvPpaL6222r44H/c99aE
 muBNdPEr225NCPLPpwu9G/rzJyv6dQX2fDmHQHvaz7R2fXnBSz3/edKeK6s/IalYfbgQjm4ayJ1E
 lCu2CTCQO0lC0pvSfuYV4ImPNYHfeuLmhX7GvXds9GC6EOavinA37TexaMayQpg1y5/5yi+Pf6QG
 +Gk2D48NpXPF/GXj5qbacmGe4dhQuiU9ezOw8UM14OHvr+lS435x4Mw78asx8flM26qyOHPr01/q
 7plQA0Tl0aHcQMyFXPbubjLu8WxuINaWan8UeLQWTVa/bHxy1fzQhuuGCoOCA73KOg6GCoMS2nDd
 xidXzT9PA8SyOhtkVwRhiF6WzC/ETILmxGxWzL+H+z/zB7QkF/DfPf/Am0efQDX82CcEGpIrZldk
 YjNWAy/WAHhoy0qxqivzpWxCQ/2QtOxTEltizG5axPJ5t3Nzx93csegeFrUsJOUbBGG48FV2HnmW
 cjj88WYgSr6UTaT9zMqHtqx86flNe9WP3pIMgvL6YmkMZy8PwX0vw8r567nzmge5tfMOrm1dxsxk
 M56AoJQVHMpAdh9hOIa7wIS0WBojiJfXG+M9Doz5UToVD4LyqjAI4VMGoK15GeuWbGDDit/hxnld
 zIgn8Ixfc1laNQeUMWvpH+3HhfaCtTYkJAjKqxKxZLwGgLOaDMJwaTkMLrn9+16C5kQbS9rWcPs1
 n+feZV9kcUsHyShId4BTh4iJPBWogIgQhGOcGj6AteEFv6+sAUEYLo0ZTQIjPoAN3NowDLChuyRp
 rqowIz2Pa2d30dVxJzd33sGN7WuZlcoQ9yrz7KKJyBbLjBbKzMmkSMb9WnVIgWy5QP9IP3oRWutw
 hGGAFbcW2FoBILRdQRCg9pPN8xVhYdtqblvyBdZdczfXz72eOc3tJDwPTyp3OAfGCKFznB4pcHq0
 SEtTDOMJGolf1dIz+TOcGT11UWarQBAEWLFdNQCcc51BEKK2onLT3ZLxNm7ovIt7lv8Gdyy9l3lN
 bSSMX6kER8UVp1HwJcroWMDJwRzZYpn5rWnaW5rxjVTFr8Wwp0Z6OZsfuCjirgAQ4nzXWXOD1uqa
 oFyeNulFPBKxJtpbrqdr0ef4teUPcsvCdaQ8U4m8ohRTqRp0BYQwVIZzRU4O57EO2mc1096axkgk
 fP12UOXo0HGKhRHEXNz4gnIZG9c1NQDUatxardjSFGzA85roaF3Gyo713LLks9zUcSudrZ0kPBPZ
 rWLr8iNSqeWpwmihxOBokdFCiXjMZ8HsNHMyybrw0exVQVBVDvTtBhwXU5NVBWsUtRpvAMCtCMMA
 3ORioFRyDl2L7uGzyzdyQ/sKOloX0hxvqtUOnWoN1+oCiEQAlIKQgeExRvMlAqckEz4LZjUxMx0H
 iUyDitD1nAXy5YD3TvZcFAHWXGEYoNatqAPgNK1WL9IEDPPbVnLr0vv5/E2/x8r25SR9H4msVESp
 il2bPaIVocj2R/Il+oYKFAOLZwzJuEdHWzMzUrGGam/lORI9QIGYEYYKRQ73756U2SqKOk3XOcBV
 1P9CYoBUPMONS+5j3XX3sf76B5mfaSPhG1Sj/0td1aogaFS2rv5cKoeczRUZGi2iCp4nJOOG9tYm
 MqlYw4LZxCA4oOf4W4TF05PODG3kZyteIFSc5YJsacPtf8Yjd/85qVgKPwpWQqeYSL2rE6zRi4zU
 udtZR3aszHC2yFjZYgQ8z9CU8JnXkiaVjGEjc5EG26+DAIIQWuXN919Bw8lxlTMVmesAWMWGF2ZM
 zel2UvEkImBdTZsrs6bjDVakDsJYMWRotEh+rIyK4HkV6s6kYsyZmSYe83BVg68+i/PdpBEoBErP
 0TeY7IKUdRZnGwDAVTTgQkpgT/30rxkceo87V36RZe3LmZWehW90nKNtLKY4VYazJc6MFrHO4RnB
 RDc0p2LMbUnhR6pUZXlq5qIRDlJ34qoMFbL0DhyYtNt21VWUmgYEEQdcAAD53Gmee30z/7vzSa5p
 76Lrmru4YfFarpm9mDmZeTQlm2v2O1ayDOfHKBTKgOB7pqYkM5rjtGVS+L6pEWM92RlPnOMHL+w5
 3kM+PzhpDVCtyFwHQCs1gItJhAqF07x76GXePfwzMuk5tLcu5rqO1axcvI41S9bTmppLrlDGWocx
 pmbTnhFamhPMbE7geaaSxkqNNWtflTpxqlY4RkUIVdl7/G3CMJxS2O60AQB1YNRMcpXXMprtYzTb
 x8HjO3ml+yl+9Ybf5ffv/AbpeHPN1hXwRGjNJMk0xRGRKD6QccGNicijTn71rNAoBE452Nsz6ZgF
 KqvKVVErAIQKVqZcCXJYCuEwe4/uYPiWszQlmhvSXmFWJkVzKl436Qajb3RxEs1OBaQGohUYHB3k
 RP97U6tbiFRkrmtAJZycrlrAwNlj9A6dYOGsRThVVJXAKi5iyHqINB6ERgJt5IJqyoDCybO9DAyd
 YCpbElQqMteqws5RwFEJK6ehlwpD7Dq8vZbTIzCUL7L72CC9Z0Yr7q5ByEoQpbXYocoBtWtV4gKO
 nDpILnd20mNTW7EnVQo1ANTpPsFDHbhp6t0HXmKkVMIzFea3qpRCy/t9wxw4NUQ5dDWSoyGOqG2d
 OgcEgNA69p88SLFUmvS41IHg4azuq2tAqGVctf40Pb2v/116jv68IoBq5cUR8R0fzLL76ABnCyWc
 03EgqDZoh44HJl/McvTELlyUuE2lu1DL9YUR1W5RUwuHp2Uhwobs2PMc5UjdXUOIG/M93u/v5R+/
 /3e82P1jxoJwHP9WTacKQnVv2ZnsGT7oPzSlcTkLogZUuxtIUE6ImoiCp68StP/wa/SN9DE3M2ec
 iz2dHeT51/6Jnr3P8PrbC9l/95/y5V9/hLmZGZX8XzVygVIDwRhD7+ApBk4fnVrhRisAOCcnGkhQ
 e0QrPkjt9PWhM8fYc/C1iv1pZTPkwEg/P/jJ37Nn73Pg4OzQcb737N/wjX/ZxDsfvI9z9cKsa3BL
 1jp2H+kmlxuZ0phwICqIrz11EwjYiRVwMq3rcTYM2XPoTbLFAiLQf+YI//X8X7Jv77PYMKirZVjm
 lz3P8Rebv8SzP99GvlweH7GJUHKW7v3bwekU1wgFrODy7IRoi8ysG5K+qj4c2nCWOp3WbSoj2dOk
 mtvJlQo88+LfcviDHR++pSU7wI7dL1NwHgvnLWNGulJVihlhMJvnO898k1xuaErjMeIR8+OHBPnX
 oXeLJQ+gdUXcAOvDMFzhnJtWAIrFHIeOvc2eAz/lVN+ej70/KBfo2f8G7x3fz6zWDua1dVIKlRfe
 2sa2V7egzk4dAC/2M5Snz+4thX4UGxdt6LYbZzaGn8DSWHak/+KyCzvGL97+Hw4deZublv0KMT/J
 rgM7sA2mwRTyAKxsN74pjtshsvS3Z9wflINnx4pjCa7ilkqmSrF47DcP/WD0xXEbJJx1u4z4++Rq
 2xoyLgcSjPj7nHW7ztshcuSHuT7xdEfMj+vVCkDMj6t4uuPID3N95wEQxQOPe8YLrlYAPOMFzunj
 44v7De2DZ/M9wNaYH78aZx9gayTjxAAAxOe4xzzPKxhjrhrhjTF4nleIz3GPnacV514Y6g5HZ14f
 O4bIRufcVSC+4PsxjJhNR58qvn7++taEVVN92ojZ4nveFS++73kYMVtU9ekJeWGii6MHQptZ5u0U
 MZ9TaFfVK1T1PTzP7wYe6d1aGp5YPz6idTyQ6ACed9auCV14Zc288TGe1w081Lu19KEHJj5Sx7MH
 bXbGdeZ5MaZVRNYol78miAi+52OM2YLqI70vlCd/ZKamCRviCUUfBr7t1KWttZel8F7F3gvA1wR5
 uveF8tQPTTW2BRtiC4HNwAPOuZhzTj5trRAEY4waYwJgK/DYyReC6T02NwEQXar6KLBOVVcomqgV
 Mz9hwqztMBFBkJKI7BOPHYI83vuj4JM9OHlua/+CPx9YDawE1iu6CmVppfSm48Bo1BRR4VzNEQRt
 OJ8jDUOLhK3+cEiQd4DtwF5g16lt4aU9OjsBEAIkqRySTqrqWqAL6AQmPDz9Ma12eBroBk4APSKy
 EyhG14untoVXbeJ2ydr/ARQwW/YuGhFkAAAAAElFTkSuQmCC
